<title>Payment</title>
<style>
        .btn-hover-effect:hover {
            background-color: #4CAF50; 
            color: white; 
            transform: scale(1.05); 
            transition: all 0.3s ease;
        }

        keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        .animated-fade-in {
            animation: fadeIn 1s;
        }
</style>

<body>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center animated-fade-in">
                <div class="card-body">
                    <h2 class="card-title">Thank you for your reservation!</h2>
                    <p class="card-text">Click "Pay" to proceed with your payment.</p>
                    <a href="https://www.youtube.com/watch?v=ruauz315oms&pp=ygUWcGFyaXMgbGF0aW5vIGJhbmRvbGVybw%3D%3D" class="btn btn-success btn-hover-effect">Pay</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

