@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/ForgotPassword.css">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="password-reset-container">
                <h1>@ViewData["Title"]</h1>
                <h2>Enter your email below</h2>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-4">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
