body, h5, .modal-title, .btn {
    font-family: 'Roboto', sans-serif;
}

.list-group-item {
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    margin-bottom: 10px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .list-group-item:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .list-group-item.active, .list-group-item-action.active {
        background-color: #0056b3;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .list-group-item i {
        margin-right: 8px;
    }

.btn-primary {
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Styling for the table */
.admin-dashboard .table {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

    .admin-dashboard .table th, .admin-dashboard .table td {
        padding: 12px 15px;
        font-size: 1rem;
    }

    .admin-dashboard .table th {
        background-color: #f8f9fa;
        border-bottom: 2px solid #dee2e6;
    }

.admin-dashboard .btn {
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
}
